<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Movie Lovers</title>

        <link rel="stylesheet" href="main.css">
    </head>
    <body>
        <h1>Movie Lovers</h1>

        <p>
            You searched for:
            <strong><%= @title %></strong>.
        </p>
        <p>
            There were
            <strong><%= @results %></strong>
            results.
        </p>

        <ul class="movie-list">
            <% @movies.each do |movie| %>
                <li><img src="<%= movie.poster %>"></li>
            <% end %>
        </ul>
    </body>
</html>
